@import "mixins";

 .wp-block-group{
    &.is-style-image-1-decale{

        figure.wp-block-image:last-child{
            @include m(1024){
                display: none;
            }
            position: absolute;
            bottom: -150px;;
            left: -100px;
        }
    }
}

  