.wp-block-group.is-style-sun {
    position: relative;

    &:after{
        
        content: '';
        height: 7.5rem;
        width: 7.5rem;
        border-radius: 100%;
        display: block;
        position: absolute;top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: var(--wp--preset--color--second);
        z-index: -1;
        animation: moveRight 3s linear infinite; /* Animation de déplacement vers la droite */
        animation-delay: 3s;
    
    }

    @keyframes moveRight {
        0% {
            transform: translate(-50vw,-50%);
            //opacity:.5;
        }
        50%{
            transform: translate(-50%,-50%);
            //opacity:1;
        }
        100% {
            //opacity:.5;
            left: 100%; /* Fin à droite de l'élément parent */
            transform: translate(50vw,-50%);
        }
    }
  }