.wp-block-group{
    &.is-style-timeline{
        .sticky{position: sticky;top: 150px;}
        position: relative;
        --deco-timeline-border-width:.5rem;
        --deco-timeline-size:3.5rem;

        .wp-block-columns{
            border-bottom: 2px solid var(    --wp--preset--color--second);
            >.wp-block-column{
                &:last-of-type{
                    border-left: 2px solid var(    --wp--preset--color--second);
                }
            }
           >.wp-block-column:first-of-type{
            >*:first-child{
     
           
                &:before, &:after{
                    background: var(    --wp--preset--color--second);
                }
                 &:before{
  
                    content:'';
                    height:var(--deco-timeline-size);
                 top: 50%;
                    width: var(--deco-timeline-border-width);
                    display: block;
                    position: absolute;
                    right: 0;
                    border-radius: 10px;
                    transform: translateX(calc(50% + 3rem + var(--deco-timeline-border-width) / 4)) translateY(-50%);
                   
                 }
                 &:after{
                     content:'';
                     height: var(--deco-timeline-border-width);
                   
                     width: calc(var(--deco-timeline-size) / 2);
                     display: block;
                     position: absolute;
                     top: 50%;
                     transform: translateX(calc(100% + 3rem + var(--deco-timeline-border-width) / 4)) translateY(-50%);
                     right: 0;   border-radius: 10px;
                    
                  }
             }
            }
   
       }
        

    }
}