
html:not(.no-js) [data-aos^=coucou][data-aos^=coucou].aos-animate{
    animation-name: coucou;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}
@keyframes coucou {
   0% {
        transform: rotate(330deg);
    }
    50%
    {
        transform: rotate(375deg);
    }
    100% {
        transform: rotate(360deg);
    }
}