body.blog-1{
    .main-container{
        position:relative;
        &:before{
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            transform: translateX(-100%);
            content: "";
            width: 300px;
            height: 400px;
            
            background: url("assets/img/habitat-gauche.png");
            background-size: contain;
        }
        &:after{
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            transform: translateX(100%);
            content: "";
            width: 300px;
            height: 400px;
            background: url("assets/img/habitat-droite.png");
            background-size: contain;
        }

    }
    .wp-block-navigation__container.is-vertical{
        .wp-block-pages-list__item__link{
            padding-left: 2rem;
            padding-top: 0.3rem;
            padding-bottom: 0.3rem;
            background: #e2e4e5;
            width: 100%;

        }
    }
    h1{
        text-align: center;
    }
    h2{
      background-color: var(--wp--preset--color--custom-fond-b); 
      padding-left: 2rem;
      padding-top: 0.3rem;
      padding-bottom: 0.3rem; 
    }
    ul{
        list-style-type: square;
    }
}