body.blog-1{
    .main-container{

        position:relative;
        &:before{
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            transform: translateX(-100%);
            content: "";
            width: 300px;
            height: 400px;
            
            background: url("assets/img/habitat-gauche.png");
            background-size: contain;
        }
        &:after{
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            transform: translateX(100%);
            content: "";
            width: 300px;
            height: 400px;
            background: url("assets/img/habitat-droite.png");
            background-size: contain;
        }
        .wp-block-image.size-full{
            width: 100%;
            min-width: 100%;
            >img{
                width: 100%;
            }
        }

    }
    .wp-block-navigation__container.is-vertical{
        margin-top: 2rem;
        position:sticky;
        top:100px;
        .wp-block-pages-list__item{
            justify-content: stretch;
            width: 100%;
        }
        .wp-block-pages-list__item__link{
            padding-left: 2rem;
            padding-top: 0.3rem;
            padding-bottom: 0.3rem;
            background: #e2e4e5;
            width: 100%;

        }
    }
    h1{
        text-align: center;
    }
    h2{
        position: relative;
      background-color: var(--wp--preset--color--custom-fond-b); 
      color:white;
      padding-left: 2rem;
      padding-top: 0.3rem;
      padding-bottom: 0.3rem; 
      &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        bottom: 0;
        width: 0;
        height: 0;
        border-top: 1rem solid transparent;
        border-bottom: 1rem solid transparent;
        border-left: 1rem solid var(--wp--preset--color--custom-blue);
      }
    }
    h3{
    font-weight: bold;
    position: relative;
    padding-left: 2em;
        &:before{
            content: "";
            position: absolute;
            left: 1rem;
            top: 50%;
            transform: translateY(-50%);
            width: 0;
            height: 0;
            border-top: 0.4em solid transparent;
            border-bottom: 0.4em solid transparent;
            border-left: 0.4em solid white;
            z-index:2;
        }
        &:after{
            content: "";
            position: absolute;
            left: 1rem;
            top: 50%;
            transform:translateY(-50%) translateX(-.35em);
            width:1em;
            height: 1em;
            display: block;
            background-color: var(--wp--preset--color--custom-red);
            border-radius:100%;
 
        }
    }
    ul{
        list-style-type: square;
    }

}