body.blog-1{
    .wp-block-navigation__responsive-container-open{
        z-index: 20;

        .burger-icon{
            position: fixed;
            top: .5em;
            left: .5em;
            background: rgba(255, 255, 255, .4);
            backdrop-filter: blur(3px);
            border-radius: .5em;
            width: 3em;
            height: 3em;
            display: flex;
            flex-direction: column;
            align-items: baseline;
            justify-content: center;
            padding:.2em;
            gap: .5em;
            cursor: pointer;
        
            span {
                display: block;
                background-color: var(--wp--preset--color--custom-anthracite);
                height: 2px;
                display: inline-block;
                width: 100%;

            }
            span:first-child, span:last-child{
                width: 80%;
            }
        }
    }
    .max-100{
        max-width: 100% !important; 
     }
   .is-style-list-logo a{
    transition: all .5s;
    &:hover{
        img{
            transform: scale(1.1);
        }
    }
   }

    .main-container{
     
            display:flex;
            flex-direction: row;
            flex-wrap: wrap;
            position:relative;
            @include m(960){
                flex-direction: column;
                flex-direction: column-reverse;
                justify-content: center;
                align-items: center;
             
            }
            @include p(1200){
                &:before{
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform: translateX(-100%);
                    content: "";
                    width: 300px;
                    height: 400px;
                    
                    background: url("assets/img/habitat-gauche.png");
                    background-size: contain;
                }
                &:after{
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    transform: translateX(100%);
                    content: "";
                    width: 300px;
                    height: 400px;
                    background: url("assets/img/habitat-droite.png");
                    background-size: contain;
                }
       }
            >div{
                width: 100%;
                @include m(960){
                    &:last-of-type{
                        width: 100%;
                  
                    }
                }
                @include p(961){
                    &:first-of-type{
                        width: 250px;
                        
                    }
                    &:last-of-type{
                        width: calc(100% - 280px);
                  
                    }
                }
            }
     

        .entry-content >.wp-block-image.size-full{
            width: 100%;
            min-width: 100%;
            >img{
                width: 100%;
            }
        }
        .wp-block-gallery .wp-block-image {
            img{
                object-fit: contain !important;
            }
        }

    }
    .wp-block-navigation__container.is-vertical{
        margin-top: 2rem;
        position:sticky;
        top:100px;
        min-width: 250px;
        .wp-block-pages-list__item{
            justify-content: stretch;
            width: 100%;
        }
        .wp-block-navigation-item{
            width: 100%;
        }
        .wp-block-pages-list__item__link,.wp-block-navigation-item__content{
            padding-left: 2rem;
            padding-top: 0.3rem;
            padding-bottom: 0.3rem;
            background: #e2e4e5;
            width: 100%;
            overflow: hidden;
            transition: all .4s, transform 1s;

            &:before{
                transition: transform 1s;
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                bottom: 0;
                width: 0;
                height: 0;
                border-top: 1rem solid transparent;
                border-bottom: 1rem solid transparent;
                border-left: 1rem solid #e2e4e5;
            }
            &:hover{
                text-decoration: none;
                color: white;
                background: var(--wp--preset--color--custom-blue);
                &:before{
                    transform: translateX(0) translateY(-50%);
                }
            }

        }
    }

    h2{
        position: relative;
      background-color: var(--wp--preset--color--custom-fond-b); 
      color:white;
      padding-left: 2rem;
      padding-top: 0.3rem;
      padding-bottom: 0.3rem; 
      &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        bottom: 0;
        width: 0;
        height: 0;
        border-top: 1rem solid transparent;
        border-bottom: 1rem solid transparent;
        border-left: 1rem solid var(--wp--preset--color--custom-blue);
      }
    }
    h3{
    font-weight: bold;
    position: relative;
    padding-left: 2em;
        &:before{
            content: "";
            position: absolute;
            left: 1rem;
            top: 50%;
            transform: translateY(-50%);
            width: 0;
            height: 0;
            border-top: 0.4em solid transparent;
            border-bottom: 0.4em solid transparent;
            border-left: 0.4em solid white;
            z-index:2;
        }
        &:after{
            content: "";
            position: absolute;
            left: 1rem;
            top: 50%;
            transform:translateY(-50%) translateX(-.35em);
            width:1em;
            height: 1em;
            display: block;
            background-color: var(--wp--preset--color--custom-red);
            border-radius:100%;
 
        }
    }

    ul{
        list-style-type: square;
    }
    .wpcf7-form{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        label{
            font-weight: bold;
        }
        input, textarea{
            font-size: 1rem;
            padding: .6em 1em !important; 
            border-radius: .3rem !important;  
            border-width: 1px !important;
            max-width: 300px;
            &[name="autres"]{
                width: 100%;
                max-width: 100%;
            }

        }
        input[type="submit"]{
            font-size: 1rem;
            padding: .3em 1em !important;
            border-radius: .3rem !important;  
            border: 1px solid var(--wp--preset--color--custom-blue) ;  
            background:var(--wp--preset--color--custom-blue) ;  
            color:white;
            text-transform: uppercase;
            transition: all .5s;
            &:hover{
                background: white;
                color: var(--wp--preset--color--custom-blue) ;  
            }
        }
        label{
            display: block;
            margin-bottom: .2rem;
            margin-top: 0.3rem;
        }
        p{
            display: contents;
        }
        >div{
            gap: 1rem;
            display: flex;
            flex-wrap: wrap;
            max-width: 678px;
            justify-content: space-between;

            @include m(960){
                flex-wrap: wrap;
                justify-content: center;
            }
        }
        .wpcf7-list-item{
            margin: 0;
        }
    }
    .is-style-slick{
        position: relative;
        &__prev,&__next{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 40px;
            height: 40px;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            cursor: pointer;
            transition: all .5s;
            z-index:2;
            &:hover{
                background-color: var(--wp--preset--color--custom-blue);
            }
        }
        &__prev{
            left: 0;
        }
        &__next{
            right: 0;
        }
    }
    .is-style-slick{
        ul.slick-dots{
            z-index:2;
            position: absolute;
            display: flex;
            justify-content: center;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0;
            padding: 0;
            list-style: none;
            text-align: center;
            button{
                height: 1rem;
                width: 1rem;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border-radius: 100%;
                background-color: white;
                border: 1px solid var(--wp--preset--color--custom-blue);
                color: var(--wp--preset--color--custom-blue);
            
            }
            
            li{
                display: inline-block;
                margin: 0 5px;
        }
    }
}
}

.iframe-response__container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Ratio 16:9 pour la vidéo, ajustez si nécessaire */
    height: 0;
    overflow: hidden;
  }
  
  .iframe-response__container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

