body.blog-2{
    background: #006331 url("assets/img/fond.jpg") repeat-x top;

    line-height: 160%;
    overflow-x: hidden;
    .wp-block-group.header{
        figure.wp-block-image{
            position: relative;
            &:before{
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: -264px;
                width: 286px;
                height: 279px;
                background: url("assets/img/hygiene-insectes.png");
        
                background-size: contain;
                background-repeat: no-repeat;
            }
            &:after{
                content: "";
                display: block;
                position: absolute;
                top: 0;
                right: -284px;

                width: 286px;
                height: 279px;
                
                background: url("assets/img/hygiene-rat_droit.png");
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
    }
    .main-container{
        @include m(599){
            gap: 0;

            > .wp-block-group:first-child{
                width : 100%;
            }
            > .wp-block-group:last-child{
                width: 100%;
            }

        }
        @include p(600){
            > .wp-block-group:first-child{
                width : 20%;
                max-width: 230px;
            }
            > .wp-block-group:last-child{
                width: 77%;
            }
        }

        
        position:relative;

        &:before{
            display: block;
            position: absolute;
            top: 0;
            left: 0;
  

            transform: translateX(-38%);
            content: "";
            height: 900px;
            width: 100%;
            background: url("assets/img/hygiene-gauche.png");
            background-size: contain;
            background-repeat: no-repeat;
            opacity: 0.3;
            z-index: -1;
        }
        &:after{
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            transform: translateX(100%);
            content: "";
            width: 100%;
            height: 100%;
            background: url("assets/img/hygiene-droite.png");
            background-size: contain;
            background-repeat: no-repeat;
            opacity: 0.3;
            z-index: -1;
        }
        .entry-content .wp-block-image.size-full{
            width: 100%;
            min-width: 100%;
            >img{
                width: 100%;
            }
        }
        .wp-block-gallery .wp-block-image {
            img{
                object-fit: contain;
            }
        }

    }
    .wp-block-navigation__container.is-vertical{
        margin-top: 2rem;
        position:sticky;
        top:100px;
        .wp-block-pages-list__item{
            justify-content: stretch;
            width: 100%;
        }
        .wp-block-pages-list__item__link{
            padding-left: 2rem;
            padding-top: 0.3rem;
            padding-bottom: 0.3rem;
            background: #e2e4e5;
            width: 100%;
            overflow: hidden;
            transition: all .4s, transform 1s;

            &:before{
                transition: transform 1s;
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                bottom: 0;
                width: 0;
                height: 0;
                border-top: 1rem solid transparent;
                border-bottom: 1rem solid transparent;
                border-left: 1rem solid #e2e4e5;
            }
            &:hover{
                text-decoration: none;
                color: white;
                background: var(--wp--preset--color--custom-blue);
                &:before{
                    transform: translateX(0) translateY(-50%);
                }
            }

        }
    }
    .wp-block-template-part footer{
        margin-block-start: 0px;
    }

    h1, h2, h3, h4, h5, h6 {
        font-weight: bold;
        line-height: normal;
        margin: 10px 0;
    }
    h1{
        color: #000;
        font-size: 2.9em;
        text-transform: uppercase;
        font-weight: bold;
    }
    h2{
        background: #55bf8b url("assets/img/h2.jpg") left no-repeat !important;
        margin-top: 15px;
        padding-left: 40px;
        padding-top: 8px;
        color: white;
        height: 30px;
        font-size: 20px;
    }
    h3{
        padding-left: 2em;
        color: #a1a1a1;
        font-size: 1.6em;
      }
      h6{
        background: url("assets/img/h6.jpg") left no-repeat !important;
        margin-top: 5px;
        margin-bottom: 5px;
        padding-left: 40px;
        padding-top: 8px;
        height: 30px;
        font-size: 16px;
        color: #55bf8b;
      }
      ul {
        color: black;
        list-style: none;
        margin: 5px 0 5px 25px;
    }
}
