.wp-block-button{
    &.is-style-outline{

        .wp-block-button__link {
            transition: all 0.3s ease;
            padding-right: 1em;
            padding-left: 2.2em;
            padding-top: var(--wp--custom--button--padding--top) !important; 
            padding-bottom: var(--wp--custom--button--padding--bottom) !important;
            position: relative;
            &:before{
                content: "";
                background-image: url('./assets/img/fleche-bleu-jaune.svg');
                background-position: center;
                background-repeat: no-repeat;
                width: 2em; /* ajustez la taille selon vos besoins */
                height: 2em; /* ajustez la taille selon vos besoins */
                display: inline-block;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left :0;
                right: auto;
                transition: all 0.5s ease;
            }
            &:hover {
                background-color: var(--wp--custom--button--color--background);
                color: var(--wp--preset--color--white);
                padding-right: 2.2em;
                padding-left: 1em;
                &:before{
                    content: "";
                    background-image: url('./assets/img/fleche-jaune-blanc.svg');
                    left : calc( 100% - 2em ) ;
                }
            }
        }
    } 
    &.is-style-fill{
        .wp-block-button__link {
        transition: all 0.3s ease;
        padding-left: 2.2em;
        padding-right: 1em;
        padding-top: var(--wp--custom--button--padding--top) !important; 
        padding-bottom: var(--wp--custom--button--padding--bottom) !important;
        position: relative;
        &:before{
            content: "";
            background-image: url('./assets/img/fleche-bleu-blanc.svg');
            background-position: center;
            background-repeat: no-repeat;
            width: 2em; /* ajustez la taille selon vos besoins */
            height: 2em; /* ajustez la taille selon vos besoins */
            display: inline-block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left :0;
            right: auto;
            transition: all 0.5s ease;
        }
        &:hover {
            background-color: var(--wp--custom--button--color--background);
            padding-right: 2.2em;
            padding-left: 1em;
            &:before{
                background-image: url('./assets/img/fleche-jaune-blanc.svg');
                left : calc( 100% - 2em ) ;
            }
        }

    }
    }

}

