
.hidden{
    display: none;
}



@include m(600){
    .columns-inverse{
        flex-direction: column-reverse !important;
    }

    .wp-block-spacer{
        height: 15px !important;
    }
}

@include p(600){
    .mobile{
        display: none !important;
    }
}

@include m(600){
    .desktop{
        display: none !important;
    }
}


@include p(600){
    .zoom { 
        transform: scale(1.2);
    }
}
