@import "mixins";

 .wp-block-group{
    &.is-style-contain-text-only{
        padding-right: max(20px,3.2rem);
        padding-left: max(20px,3.2rem);
        @include m(768){
            padding-right: 25px;
            padding-left: 25px;
            ul {
                text-align: left;
            }


        }
 

    }
}

  